body {
	background-color:#000011;
	position:relative;
	min-height:100%;
	top:0px;
	color:white;
	margin:0;
}

div.main {
	background-color:black;
	margin-left:15%;
	margin-right:15%;
	padding-top:3%;
	z-index:1;
}

div.list {
	position:relative;
	top:auto;
	left:0px;
	z-index:1;
	padding-bottom:10px;
	text-align:left;
}

.headertitle {
	font-size:74px;
	margin-top:10%;
	margin-bottom:0;
	text-align:center;
}

.headertitle2 {
	margin-top:0;
	font-size:56px;
	text-align:center;
}

h1 {
	color:#FF5900;
	font-family:Arial, Helvetica, sans-serif; /*Sans*/
	padding-left:10%;
	padding-right:10%;
}

h2 {
	color:#FF5900;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
}

h3 {
	color:#FF5900;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
}

h4 {
	color:#FF5900;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
}

h5 {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
}

hr {
	border:1px solid #FF5900;
	margin-left:5%;
	margin-right:5%;
}

p {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
	line-height: 25px;
}

li {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}

ul {
	padding-left:15%;
	padding-right:10%;
}

ol {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10%;
	padding-right:10%;
}

a {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}

footer {
	position:absolute;
	margin-top:1%;
	width:100%;
	text-align:center;
}

footer p {
	color:darkgray;
}

div.jobs {
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	padding-left:5%;
	border-style: solid solid solid none;
	border-color:#FF5900;
	margin-top:-10px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	color:white;
}

.pageright{
	width:80%;
	float:right;
}

.pageleft{
	width:20%;
	float:left;
}

.gallery {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, 49%);
	column-gap:2%;
	row-gap:0.25%;
	margin: 0;
	padding: 0;
}

.gallery img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.gallery figcaption {
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

.gallery figure {
	margin:0 auto;
}
