body {
	background-color:#000011;
	position:relative;
	min-height:100%;
	margin:0;
	top:0px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

.main {
	margin-left: 15%;
	margin-right: 15%;
	padding-top:1%;
	z-index:1;
	overflow:hidden;
	border-left: gray solid 1px;
	border-right: gray solid 1px;
}

h1 {
	font-size:74px;
	color:white;
	text-align: center;
	margin:0;
}

h2 {
	font-size:56px;
	color:white;
	text-align: center;
	margin:0;
}

h3 {
	font-size: 38px;
	color:white;
	margin-bottom: 0;
	margin-left: 10%;
}

h4 {
	font-size: 20px;
	color:white;
	margin:0;
}

h5 {
	font-size: 14px;
	color:#FF5900;
	margin:0;
}

hr {
	border:1px solid gray;
	margin-left:5%;
	margin-right:5%;
}

p {
	color:white;
	padding-left:10%;
	padding-right:10%;
	line-height: 25px;
}

li {
	color:white;
}

ul {
	padding-left:15%;
	padding-right:10%;
}

ol {
	color:white;
	padding-left:10%;
	padding-right:10%;
}

a {
	color:white;
}

footer {
	position:absolute;
	margin-top:1%;
	width:100%;
	text-align:center;
	background-color: black;
}

footer p {
	color:darkgray;
}

.jobs {
	font-size:25px;
	text-align:left;
	padding-left:5%;
	border-style: solid solid solid none;
	border-color:#FF5900;
	margin-top:-10px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	color:white;
}

.pageright{
	width:80%;
	float:right;
}

.pageleft{
	width:20%;
	float:left;
}

.gallery {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, 49%);
	column-gap:2%;
	row-gap:30px;
	margin: 0;
	padding: 0;
}

.gallery img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.gallery figcaption {
	text-align:center;
}

.gallery figure {
	margin:0 auto;
}

.mainpage {
	font-size:25px;
	text-align:center;
	padding-left:10px;
	padding-bottom:30px;
}

.mainlogo {
	width:100%;
	height:100%;
}

.logocontainer {
	margin: auto;
	height:100%;
	width:15%;
}

.mcimagelinks {
	font-size:25px;
	text-align:left;
	padding-left:10px;
}

.itemsearch input[type=text] {
	width:40%;
	height:40px;
	margin:0 auto;
	display:block;
	border-radius:4px;
	color:white;
	background-color:#111111;
}

.imgbackground {
	position: relative;
	background-color: black;
	width:100%;
	height:830px;
	overflow:hidden;
}

.imgbackground #image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter:opacity(30%);
}

.imgbackground .maincenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	text-align: center;
}

.maincenter p {
	line-height: 1;
}
